

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

li, ul, menu{
  list-style: none;
}

body{
  padding: 40px 80px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

li{
  width: calc(100% / 7);
  /* border: 1px solid white; */
  aspect-ratio: 1/1;
  /* text-align: center;
  
  justify-content: center;
  align-items: center;
  */
  padding: 10px 10px; 
  
}

li > div{
  /* border: 1px solid white; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-blue{
  background-color: #1288B2;
}

.dark-blue{
  background-color: #093B4C;
}